<div id="<%= dom_id(question) %>" class="card shadow w-full sm:w-1/2 lg:w-1/3">
  <div class="card-body">
    <div class="flex justify-between">
      <%= render QuestionStatusComponent.new(question: question) %>

      <% if current_user == question.user %>
        <div class="flex gap-2 justify-end items-center">
          <%= link_to 'Edit', edit_question_path(question), class: "btn btn-outline btn-sm" %>

          <%= button_to question,
            method: :delete, 
            class: "btn btn-error btn-outline btn-sm",
            form: { 
              data: { 
                turbo_confirm: "Are you sure you want to delete this question?"
              } 
            } do %>
            Delete
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="text-xl my-4 min-h-[125px]">
      <%= question.body %>
    </div>


    <div>
      <%= link_to 'Answer', '#', class: 'btn btn-info btn-sm' %>
    </div>

    <hr class="mt-2" />

    <div class="text-center">
      last updated by 
      <span class="font-bold"><%= question.user.first_name_last_initial %></span>
      @ <%= question.updated_at %>
    </div>
  </div>
</div>
