<nav class="border-b border-gray-200" data-controller="toggle">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <%# Left section - Logo and Desktop Links %>
      <div class="flex">

        <%# Logo section (visible for both desktop and mobile) %>
        <div class="flex-shrink-0 flex items-center">
          <%= link_to authenticated_root_path do %>
            <div class="flex items-center gap-3">
              <div class="text-2xl">
                ¯\_(ツ)_/¯
              </div>
            </div>
          <% end %>
        </div>
        <%# END Logo section %>

        <%# Desktop Links section %>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
          <%#
            <a href="#" class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" aria-current="page"> Dashboard </a>
            <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> Team </a>
            <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> Projects </a>
            <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> Calendar </a>
          %>
        </div>
        <%# END Desktop Links section%>
      </div>
      <%# END Left section - Logo and Desktop Links %>

      <%# Tablet/Desktop Nav sections (notification dropdown, profile dropdown) %>
      <div class="hidden sm:ml-6 sm:flex sm:items-center gap-2">
        <span>Hi, <%= current_user.first_name %></span>
        <%= button_to "Sign out", users_sign_out_path, method: :delete, class: "btn btn-sm btn-outline btn-secondary" %>
      </div>
      <%# END Tablet/Desktop Nav sections %>

      <div class="-mr-2 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          data-action='click->toggle#toggle touch->toggle#toggle'
          type="button" 
          class="bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <!--
              Heroicon name: outline/menu
              Menu open: "hidden", Menu closed: "block"
            -->
          <svg class="block h-6 w-6" data-toggle-target="toggleable" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
          <svg class="hidden h-6 w-6" data-toggle-target="toggleable" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu" data-toggle-target="toggleable">
    <div class="pt-2 pb-3 space-y-1">
      <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800" -->
      <%#
        <a href="#" class="bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium" aria-current="page"> Dashboard </a>
        <a href="#" class="border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"> Team </a>
        <a href="#" class="border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"> Projects </a>
        <a href="#" class="border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium"> Calendar </a>
      %>
      <%= link_to 'Home', authenticated_root_path, class: 'bg-indigo-50 border-indigo-500 text-indigo-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' %>
    </div>
    <div class="pt-3 pb-3 border-t border-gray-200">
      <div class="space-y-1">
        <%= button_to 'Sign out', users_sign_out_path, method: :delete, class: "btn btn-sm btn-outline btn-secondary" %>
      </div>
    </div>
  </div>
</nav>
