<!DOCTYPE html>
<html data-theme="emerald" class="h-full">
  <head>
    <title>Q&A</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full">
    <div class="min-h-full px-2 py-2 sm:px-2 lg:px-4">
      <%= render(FlashComponent.new(alert_type: :notice, message: notice, layout: :guest)) %>
      <%= render(FlashComponent.new(alert_type: :alert, message: alert, layout: :guest)) %>

      <%= yield %>
    </div>
  </body>
</html>
